.guildIcon__85266[style*='803613740724650064']::after {
	background: url(https://imgur.com/GZr4iMc.png)
}

.guildIcon__85266[style*='1168995591355904080']::after {
	background: url(https://imgur.com/AlRwGqH.png)
}

.guildIcon__85266[style*='1211013277149036614']::after {
	background: url(https://imgur.com/0YrTx5b.gif)
}