/* makes activities, quests, polls and other small thinks matches with ChatBubbles */
@import url(https://gyrogyro.github.io/BetterDiscordStuff/css/ChatBubbles.css);

/* Chat Polls */
.defaultTextInputWrapper_d274ca {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: 6px;
    border: var(--background-secondary);
    background-color: var(--background-secondary);
    transition: border-color.2s ease-in-out;
}

.addAnswerButton_f24a96 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    cursor: pointer;
}

.addAnswerButton_f24a96:hover {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-primary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    cursor: pointer;
}

.container_a1531c.normalStylesDefault_b5cb3c.pollContainer_b558d0 {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
    padding: calc(7px * var(--chat-bubble)) calc(12px * var(--chat-bubble));
    border-radius: calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: 0 calc(4px * var(--chat-bubble)) calc(4px * var(--chat-bubble)) rgba(0, 0, 0, calc(0.16 * var(--chat-bubble)));
}

.answer_cf2c85 {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--chat-bubble) * 1px);
    border-radius: calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--brand-experiment);
}

.answer_cf2c85 .answerInner_cf2c85.currentlyVoting_cf2c85.selected_cf2c85,
.answer_cf2c85 .answerInner_cf2c85 {
    outline: 1px solid var(--brand-experiment)
}

.answerSelectionIcon_cf2c85 path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm5.7-13.3a1 1 0 0 0-1.4-1.4L10 14.58l-2.3-2.3a1 1 0 0 0-1.4 1.42l3 3a1 1 0 0 0 1.4 0l7-7Z"] {
    fill: var(--brand-experiment);
}

.checkboxSelected_b97e9a {
    background-color: var(--brand-experiment);
}

.badgesContainer_f9f2ca .badge_b37eda {
    background: var(--brand-experiment);
    color: var(--white-500);
}


/* quest invite in chat */
.questsCard_c366aa {
    border-radius: calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: 0 calc(4px * var(--chat-bubble)) calc(4px * var(--chat-bubble)) rgba(0, 0, 0, calc(0.16 * var(--chat-bubble)));
}

.container_b558d0 .questsCard_c366aa .outerContainer_d7df05 {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
}


/* activities invite in chat */
.wrapper_a71a1c:has(.info_c48f1e).content_c48f1e {
    border-right-radius: calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: 0 calc(4px * var(--chat-bubble)) calc(4px * var(--chat-bubble)) rgba(0, 0, 0, calc(0.16 * var(--chat-bubble)));
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary))) !important;
    background-size: calc(var(--chat-bubble) * 1px);
}


/* referral nitro gift */
.referralContainer_b558d0 > .container_b5b752 {
    border-radius: calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: 0 calc(4px * var(--chat-bubble)) calc(4px * var(--chat-bubble)) rgba(0, 0, 0, calc(0.16 * var(--chat-bubble)));
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
}


/* discord clips */
.container_b558d0:has(.container_c94b03) .container_c94b03 {
    border-radius: 0px 0px calc(8px * var(--chat-bubble)) calc(8px * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: 0 calc(4px * var(--chat-bubble)) calc(4px * var(--chat-bubble)) rgba(0, 0, 0, calc(0.16 * var(--chat-bubble)));
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
}
