.message_ccca67 .edited_b20dd9 {
    color: var(--text-muted);
    font-size: 0;
}

.message_ccca67:not(:hover) .timestamp_c79dd2:has(.edited_b20dd9) time::before{
    animation: editout .5s linear alternate;
}

.timestamp_c79dd2:has(.edited_b20dd9) time::before {
    content: "(✎)";
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
}

.message_ccca67:hover .timestamp_c79dd2:has(.edited_b20dd9) time::before {
    animation: editin .5s linear alternate;
    text-transform: lowercase;
    content: " (" attr(aria-label) ")";
}

@keyframes editin {
	0% {
		content: "(✎)"
		}
	100% {
		content:" ("attr(aria-label)")"
		}
	}

@keyframes editout {
	0% {
		content: " ("attr(aria-label)")";
		text-transform: lowercase
		}
	100% {
		content: "(✎)"
		}
	}