/* Resize chat when SideContainer is open: WIP */
#app-mount .chat__52833.threadSidebarOpen_fa231d:not(.threadSidebarFloating_b980c7) {
    border-radius: var(--window-border-radius-calc);
    border: var(--background-tertiary-border-variable-width-a);
}

/* Member List Container */
.page__0b66e:has(.table_a843c4) {
    background: var(--window-color-calc, var(--background-secondary-a)) !important;
}

.container__467eb {
    padding: 10px 10px 10px 16px;
    overflow: hidden;
    background-color: var(--background-secondary-a) !important;
    border: var(--background-tertiary-border-variable-divider-a);
    border-radius: var(--window-border-radius-calc);
}

.messageContainer__0ffa4 path[d="M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8ZM11.53 11A9.53 9.53 0 0 0 2 20.53c0 .81.66 1.47 1.47 1.47h.22c.24 0 .44-.17.5-.4.29-1.12.84-2.17 1.32-2.91.14-.21.43-.1.4.15l-.26 2.61c-.02.3.2.55.5.55h11.7a.5.5 0 0 0 .5-.55l-.27-2.6c-.02-.26.27-.37.41-.16.48.74 1.03 1.8 1.32 2.9.06.24.26.41.5.41h.22c.81 0 1.47-.66 1.47-1.47A9.53 9.53 0 0 0 12.47 11h-.94Z"] {
    fill: currentColor;
}

/* Moderator View Sidepanel */
.sidebarContianer_e155a0 .userProfileOuterThemed__6eb84.userProfileOuter__46bb7,
.sidebarContianer_e155a0 .userProfileInnerThemedPremiumWithoutBanner__703b1,
.sidebarContianer_e155a0 .userProfileInner__8065b:not(:has([style*="/banners/"])) {
    background: var(--background-secondary-a) !important;
}

.sidebarContianer_e155a0 .userProfileInner__8065b:before {
    background-color: var(--background-secondary-a) !important;
}

.sidebarContianer_e155a0 .userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
    border-radius: var(--window-border-radius-calc);
    background-color: var(--background-secondary-a);
    border: var(--background-tertiary-border-variable-divider-a);
}

.container__8316e [style="background-color: rgba(43, 45, 49, 0.8);"]  {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    box-shadow: var(--elevation-medium);

}

.container__8316e {
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    margin-bottom: 8px;
}

.container_c18052 ::-webkit-scrollbar-track {
    background: transparent;
	border-color: transparent;
}

.container_c18052 {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--elevation-medium);
}

.header__01d62 {
    background-color: transparent !important;
    box-shadow: none;

}