/* ProfileBannerSkins */

.userProfileOuterUnthemed_c69a7b:not(:has(.list_a8795b)) {
    &.theme-dark {
        --bg-mod-faint: rgba(0 0 0/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(0 0 0/.5);


        header .wrapper_c51b4e::before {
            background: rgba(0 0 0/.5);
        }

        .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe {
            background: rgba(0 0 0/.5);
        }
    }

    &.theme-light {
        --bg-mod-faint: rgba(255 255 255/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(255 255 255/.5);


        header .wrapper_c51b4e::before {
            background: rgba(255 255 255/.5);
        }

        .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe {
            background: rgba(255 255 255/.5);
        }
    }

    .bannerSVGWrapper_b32cc2 {
        overflow: visible;
        contain: none;

        foreignObject {
            -webkit-mask: none;
                    mask: none;
          }

        [style*=background-color] {
            height: 100vh;
        }
    }

    header .wrapper_c51b4e::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        border-radius: 50%;
        padding: 6px;
        left: -6px;
        top: -6px;
        box-shadow: var(--elevation-low);
    }

    .divider_c3e427:before {
        display: none;
    }

    :where(.banner_d5fdb1):before {
        display: none;
    }

    .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe {
        z-index: 2;
        padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 8px 8px 0px 0px;
        box-shadow: none;
    }

    .footer_b8cc6d {
        z-index: 2;
		padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 0px 0px 8px 8px;
        box-shadow: var(--elevation-low);
		background: rgba(0 0 0/.5);
		margin-top: -8px;
    }

	.scrollableContainer_d0696b {
		box-shadow: none !important;

	}

	.userProfileInner_c69a7b:not(:has(.statusBubble_d0a252)) .body_b8cc6d {
	    margin-top: 8px !important;
	}

    .body_b8cc6d:has(.nicknameIcons_c32acf path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1.44-15.94L13.06 14a1.06 1.06 0 0 1-2.12 0l-.38-6.94a1 1 0 0 1 1-1.06h.88a1 1 0 0 1 1 1.06Zm-.19 10.69a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Z"]) {
        z-index: 2;
        padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 8px !important;
        box-shadow: none;
    }

    .inner_c59af2 {
		background: var(--bg-mod-faint) !important;
		border-radius: var(--radius-xs);
		border: 1px solid var(--border-faint);
    }


    .body_b9fccc {
        background: rgba(0 0 0/.5);
        border-radius: var(--radius-sm);
        border: 1px solid var(--border-faint);

        .container_c32acf {
            padding: 16px 16px 0;
        }
    }

    .fullSizeOverlayBackground_c69a7b {
        background: none;
        border: none;
    }

    .body_a972fe {
        position: relative;
    }

    .overlayBackground_c69a7b:not(.fullSizeOverlayBackground_c69a7b) {
        z-index: 2;
        background: var(--bg-mod-faint);
    }

    .collapseBtn_a4a127 {
        background: var(--bg-mod-faint);
    }
  }



.role_f9575e,
.showMoreButton_c83b44.pill_e6f2d0,
.button_dd4f85[aria-label^="Aggiungi ruolo"] {
	background: var(--bg-mod-faint);
	border-radius: var(--radius-xs);
	border: 1px solid var(--border-faint);
}

.userProfileInner_c69a7b .wrapper_c51b4e circle,
.userProfileInner_c69a7b .wrapper_c51b4e rect[style] {
  fill: none;
}

.note_d53fbd textarea,
.note_d53fbd textarea:hover {
	border: none;
	background-color: transparent;
	border-radius: 6px;
}

.section_d7a21f:has(.note_c90ad7) {
	display: none;
}

.note_d53fbd textarea:focus {
	background: var(--bg-mod-faint) !important;
	border-radius: var(--radius-xs);
	border: 1px solid var(--border-faint);
}

.descriptionClamp_abaf7d:not(.headerText_d331f1 .descriptionClamp_abaf7d) {
    -webkit-line-clamp: unset;
    max-height: unset !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.viewFullBio_abaf7d{
    display: none;
}

.userProfileInner_c69a7b .wrapper_cb78f1.biteSize_cb78f1 button,
.userProfileInner_c69a7b .wrapper_cb78f1.fullSize_cb78f1 button,
.userProfileInner_c69a7b .multipleButtons_e9f973 button {
	background: rgba(0 0 0/.5) !important;
	border-top: none !important;
}

.statusBubble_d0a252,
.statusBubbleOuter_d0a252:before,
.statusBubbleOuter_d0a252:after {
	background: rgba(0 0 0 / .5);
	box-shadow: var(--elevation-low);
}

.statusBubbleOuter_d0a252:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 10px;
    display: block;
    box-shadow: none;
    border: 1px solid var(--border-faint);
    border-radius: 8px 8px 0px 0px;
    width: 19px;
    height: 10px;
	border-bottom: none !important;
}

.statusBubbleOuter_d0a252 {
	background: transparent;
}

.userProfileInner_c69a7b:has(.botText_a9e77f) .container_b64375 {
    background: var(--window-color-calc, var(--background-secondary-a));
    box-shadow: var(--elevation-medium);
}



/*
.theme-dark .userProfileInner_c69a7b,
.theme-dark .accountProfileCard_b69b77 {
  --profile-body-background-color: rgba(0, 0, 0, 0.45);
}

.theme-light .userProfileInner_c69a7b,
.theme-light .accountProfileCard_b69b77 {
  --profile-body-background-color: rgba(255, 255, 255, 0.65);
}

.bannerSVGWrapper_b32cc2:not(:has([style*=image])) {
  overflow: visible;
  contain: none;
}
.bannerSVGWrapper_b32cc2:not(:has([style*=image])) foreignObject {
  -webkit-mask: none;
          mask: none;
}

.bannerSVGWrapper_b32cc2:not(:has([style*=image])) [style*=background-color] {
  height: 100vh;
}

.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarWrapper_f89da9 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarHoverTarget_f89da9,
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarHint_f89da9 {
  padding: 6px;
}
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatar_ec3b75,
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatar_ec3b75 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  padding: 6px;
}
.userProfileInner_c69a7b .profileBadges_f89da9:not(.containerWithContent_b64375) {
  padding-top: 4px;
  padding-bottom: 4px;
}
.userProfileInner_c69a7b .messageInputContainer_f2c0a8 {
  border: none;
}

.wrapper_c51b4e.listAvatar_d2d6cb{
  background: none !important;
  box-shadow: none !important;
}

.containerWithContent_b64375 {
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.overlayBackground_c69a7b {
  margin: 28px 8px 8px;
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.tabBarContainer_b9fccc {
    border-bottom: none !important;
    margin: 20px 0 0 !important;
}

.theme-dark .root_f9a4c9 .tabBarContainer_b9fccc {
	background: transparent;
    box-shadow: none;
}

.tabBar_b9fccc.top_a0 {
    border-bottom: 1px solid var(--profile-body-divider-color) !important;
}

.tabBar_b9fccc.top_a0 .selected_a0.themed_a0.item_a0,
.tabBar_b9fccc.top_a0:hover .themed_a0.item_a0 {
    border-bottom-color: transparent;
}

.userProfileModalInner_c69a7b:not(:has(div[style*=image])) :where(
    .wrapper_c51b4e:not(.listAvatar_d2d6cb),
    .avatar_ec3b75
) {
    background: var(--profile-body-background-color);
    box-shadow: var(--elevation-medium);
    padding: 6px;
}

.userProfileModalInner_c69a7b:not(:has(div[style*=image])) :where(
    .avatarHoverTarget_f89da9,
    .avatarHint_f89da9,
    .avatar_ec3b75
) {
    padding: 6px;
}

.accountProfileCard_b69b77:not(:has(div[style*=image])) {
  background: none;
  box-shadow: var(--elevation-medium);
}
.accountProfileCard_b69b77:not(:has(div[style*=image])) .avatar_b69b77 {
  top: 16px;
  left: 16px;
  padding: 6px;
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.accountProfileCard_b69b77 .bannerSVGWrapper_b32cc2 {
    position: absolute;
    min-width: unset !important;
    width: 100%;
}
.accountProfileCard_b69b77 .userInfo_b69b77 {
  height: 116px;
  align-items: flex-end;
  position: relative;
}
.accountProfileCard_b69b77:has(div[style*=image]) .userInfo_b69b77 {
  margin-top: 60px;
}
.accountProfileCard_b69b77:has(div[style*=image]) .avatar_b69b77 {
  top: 22px;
}
.accountProfileCard_b69b77:has(div[style*=image]) .userInfo_b69b77 > button {
  align-self: center;
}
.accountProfileCard_b69b77 .profileCardUsernameRow_b69b77,
.accountProfileCard_b69b77 .containerWithContent_b64375 {
  background-color: var(--profile-body-background-color) !important;
  box-shadow: var(--elevation-medium);
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
}
.accountProfileCard_b69b77 .badgeList_b69b77:not(:has(.containerWithContent_b64375)) {
  background: none;
}
.accountProfileCard_b69b77 .userTag_b69b77 {
  margin-bottom: 0;
  padding-left: 4px;
}
.accountProfileCard_b69b77 .profileCardUsernameRow_b69b77 .overflowMenuButton_b69b77 {
  height: 24px;
}
.accountProfileCard_b69b77 .containerWithContent_b64375 {
  margin-top: 4px;
}
.accountProfileCard_b69b77 .background_b69b77 {
  box-shadow: var(--elevation-medium);
  position: relative;
  background-color: var(--profile-body-background-color);
}
.accountProfileCard_b69b77 .fieldList_b69b77 {
  background: none;
}

.bannerNitroUpsell_ab876d {
	display: none;
}

.userProfileInnerThemedNonPremium_c69a7b :where(
	.avatarUploaderNormal_ab876d,
) {
    background: var(--profile-body-background-color);
    box-shadow: var(--elevation-medium);
	border-radius: 50px;
	padding: 6px
}

.userProfileInnerThemedNonPremium_c69a7b :where(
	.hoverIconWrapper_ab876d
) {
    margin-right: 8px ;
    margin-bottom: 6px;
}

.userProfileInnerThemedNonPremium_c69a7b :where(
	.status_ab876d
) {
	display: none;
}
*/


