/* ProfileBannerSkins */

.outer_c69a7b:not(:has(.list_a8795b)) {
    &.theme-dark {
        --bg-mod-faint: rgba(0 0 0/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(0 0 0/.5);


        header .wrapper_c51b4e::before {
            background: rgba(0 0 0/.5);
        }

        .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe,
		.footer_b8cc6d {
            background: rgba(0 0 0/.5);
        }
    }

    &.theme-light {
        --bg-mod-faint: rgba(255 255 255/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(255 255 255/.5);


        header .wrapper_c51b4e::before {
            background: rgba(255 255 255/.5);
        }

        .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe,
		.footer_b8cc6d {
            background: rgba(255 255 255/.5);
        }
    }

    .bannerSVGWrapper_b32cc2 {
        overflow: visible;
        contain: none;

        foreignObject {
            -webkit-mask: none;
                    mask: none;
          }

        [style*=background-color] {
            height: 100vh;
        }
    }

    header .wrapper_c51b4e::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        border-radius: 50%;
        padding: 6px;
        left: -6px;
        top: -6px;
        box-shadow: var(--elevation-low);
    }

    .divider_c3e427:before {
        display: none;
    }

    :where(.banner_d5fdb1):before {
        display: none;
    }

    .body_b8cc6d,
        .body_ad5fac,
        .body_c4213b,
        .body_a972fe {
        z-index: 2;
        padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 8px 8px 0px 0px;
        box-shadow: none;
    }

    .footer_b8cc6d {
        z-index: 2;
		padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 0px 0px 8px 8px;
        box-shadow: var(--elevation-low);
		margin-top: -8px;
    }

	.scrollableContainer_bdf0de {
		box-shadow: none !important;

	}

	.inner_c69a7b:not(:has(.statusBubble_d0a252)) .body_b8cc6d {
	    margin-top: 8px !important;
	}

    .body_b8cc6d:has(.nicknameIcons_c32acf path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1.44-15.94L13.06 14a1.06 1.06 0 0 1-2.12 0l-.38-6.94a1 1 0 0 1 1-1.06h.88a1 1 0 0 1 1 1.06Zm-.19 10.69a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Z"]) {
        z-index: 2;
        padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: 8px !important;
        box-shadow: none;
    }

    .inner_c59af2 {
		background: var(--bg-mod-faint) !important;
		border-radius: var(--radius-xs);
		border: 1px solid var(--border-faint);
    }


    .body_b9fccc {
        background: rgba(0 0 0/.5);
        border-radius: var(--radius-sm);
        border: 1px solid var(--border-faint);

        .container_c32acf {
            padding: 16px 16px 0;
        }
    }

    .fullSizeOverlayBackground_c69a7b {
        background: none;
        border: none;
    }

    .body_a972fe {
        position: relative;
    }

    .overlayBackground_c69a7b:not(.fullSizeOverlayBackground_c69a7b) {
        z-index: 2;
        background: var(--bg-mod-faint);
    }

    .collapseBtn_a4a127 {
        background: var(--bg-mod-faint);
    }
  }



.role_f9575e,
.showMoreButton_c83b44.pill_e6f2d0,
.button_dd4f85[aria-label^="Aggiungi ruolo"] {
	background: var(--bg-mod-faint);
	border-radius: var(--radius-xs);
	border: 1px solid var(--border-faint);
}

.inner_c69a7b .wrapper_c51b4e circle,
.inner_c69a7b .wrapper_c51b4e rect[style] {
  fill: none;
}

.note_d53fbd textarea,
.note_d53fbd textarea:hover {
	border: none;
	background-color: transparent;
	border-radius: 6px;
}

.section_d7a21f:has(.note_c90ad7) {
	display: none;
}

.note_d53fbd textarea:focus {
	background: var(--bg-mod-faint) !important;
	border-radius: var(--radius-xs);
	border: 1px solid var(--border-faint);
}

.descriptionClamp_abaf7d:not(.headerText_d331f1 .descriptionClamp_abaf7d) {
    -webkit-line-clamp: unset;
    max-height: unset !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.viewFullBio_abaf7d{
    display: none;
}

.inner_c69a7b .wrapper_cb78f1.biteSize_cb78f1 button,
.inner_c69a7b .wrapper_cb78f1.fullSize_cb78f1 button,
.inner_c69a7b .multipleButtons_e9f973 button {
	background: rgba(0 0 0/.5) !important;
	border-top: none !important;
}



.statusBubble_af9888,
.statusBubbleOuter_af9888:before,
.statusBubbleOuter_af9888:after {
	background: rgba(0 0 0 / .5);
	box-shadow: var(--elevation-low);
}

.statusBubbleOuter_af9888:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 10px;
    display: block;
    box-shadow: none;
    border: 1px solid var(--border-faint);
    border-radius: 8px 8px 0px 0px;
    width: 19px;
    height: 10px;
	border-bottom: none !important;
}

.statusBubbleOuter_af9888 {
	background: transparent;
}
