:root {
	--controls-server-banner: url(https://imgur.com/hqovI9d.png); /* Server for Gyro Control ( */
}


/* dropdown arrow */
.container__590e2[aria-label^='Server for Gyro Control ('] .button__07e07.open_a0ea08 {
    animation: headerArrow .2s ease-out
}

@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}


/* Server-banner */
#app-mount .container__590e2[aria-label^='Server for Gyro Control ('] .header__104ca {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container__590e2[aria-label^='Server for Gyro Control ('] .container__7c79d {
    margin-bottom: 87px
}

.container__590e2[aria-label^='Server for Gyro Control ('] .container__7c79d::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--controls-server-banner) no-repeat center/cover;
    box-shadow: var(--elevation-low);
}