:root {
    --server-banner-1: url(https://imgur.com/GZr4iMc.png); /* ୨🌸୧・StayChill・୨🌸୧ */
	--server-banner-2: url(https://imgur.com/SVteWRV.png); /* Chill Zone */
}

/* ------------------------------- */
/*
#app-mount .container__7e23c[aria-label^='୨🌸୧・StayChill・୨🌸୧ '] .header__77c95 {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container__7e23c[aria-label^='୨🌸୧・StayChill・୨🌸୧ '] .container_f41675 {
    margin-bottom: 87px
}

.container__7e23c[aria-label^='୨🌸୧・StayChill・୨🌸୧ '] .container_f41675::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--server-banner-1) no-repeat center/cover;
    box-shadow: var(--elevation-low);
}
*/
/* ------------------------------- */
#app-mount .container__7e23c[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .header__77c95 {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container__7e23c[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .container_f41675 {
    margin-bottom: 87px
}

.container__7e23c[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .container_f41675::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--server-banner-2) no-repeat center/cover;
    box-shadow: var(--elevation-low);
}