/* banners list for ServerBanner.css & ServerBackground.css */

:root {
    --server-banner-1: url(https://imgur.com/pQHKDmT.png); /* Server for Gyro Control ( */
	--server-banner-2: url(https://imgur.com/SVteWRV.png); /* 𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙 */
    --server-banner-3: url(https://imgur.com/GZr4iMc.png); /* ୨🌸୧・StayChill・୨🌸୧ */
}