/* Some small changes made to Solana theme for my personal pleasure */

:root {
    --voice-status-text: "Connected";
}

/* [✔] 🠗 Change the text "connected to voice channel" 🠗 */
.rtcConnectionStatusConnected_c02c63 {
    line-height: 0;
    font-size: 0;
}

.rtcConnectionStatusConnected_c02c63::after {
    content: var(--voice-status-text);
    font-size: 16px;
    line-height: 20px;
}


/* [✔] 🠗 remove floating stream preview 🠗 */
.pictureInPictureVideo_cadaa5 {
    display: none;
}

/* [✔] 🠗 soundboard button background 🠗 */
.button_adcaac[aria-label^='Apri Soundboard'].buttonColor_adcaac.buttonActive_adcaac {
  background-color: var(--background-modifier-accent) !important;
}

/* [✔] 🠗 remove the buggy nitro icons from "stream" pop-up 🠗 */
.iconTextContainer-Z3gitj, .upsellBanner-1tVKtW {
    display: none;
}

/* [✔] 🠗 Chatsidebar 🠗 */
.container_d1c246 {
    background-color: var(--window-color-calc, var(--background-secondary-a));
}

.container_fc4f04.themed_fc4f04{
	background: var(--window-color-calc, var(--background-accent-a)) !important;
}


/* [✔] 🠗 Add previuos song button 🠗 */
.container-6sXIoE:not(.maximized-vv2Wr0) .details-ntX2k5+.flex_dc333f .button_adca65.enabled_adca65:first-child {
    display: unset !important;
}


/* [✔] 🠗 Stage background 🠗 */
.root_dd069c, .scroller_bb12d2, .container-3r7mfc, .rowContainer_f3a5b1, .participants_a07d72 {
    background-color: var(--background-tertiary-a) !important;
}

.tileContainer_e1522e {
    background: var(--background-secondary);
}

.tileContainer_e1522e:hover {
    background: var(--background-primary);
}

.stageVideoCard-2PCUa5, .stageUpsell-hekoJb {
	display: none;
}


/* [✔] 🠗 Stage Sidechat 🠗 */
.container_f7ece4 {
	border-radius: 0px 0px 0px 0px;
    background-color: var(--background-tertiary-a);
    border-left: var(--background-floating-border);
	-webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

.container_f7ece4 > .headerContainer_f7ece4,
.container_f7ece4 > .headerContainer_f7ece4.container_fc4f04.themed_fc4f04 {
	border-radius: 0px 0px 0px 0px;
}


/* [✔] 🠗 Stage Buttons 🠗 */
.colorable_ef18ee.red_ef18ee {
    border-radius: 50px ;
}

.buttonSpacing_e12b21.buttonWithTextButton_e12b21.button_dd4f85.lookFilled-yCfaCM.primaryButtonColor_e12b21.sizeMedium-2bFIHr.grow-2sR_-F:hover {
    border-radius: 50px;
    padding: 16px;
    background: var(--background-primary);
}

.buttonSpacing_e12b21.buttonWithTextButton_e12b21.button_dd4f85.lookFilled-yCfaCM.primaryButtonColor_e12b21.sizeMedium-2bFIHr.grow-2sR_-F {
    border-radius: 50px;
    padding: 16px;
    background: var(--background-secondary);
}

.colorable_ef18ee.primaryDark_ef18ee {
    background: var(--background-secondary);
}

.colorable_ef18ee.primaryDark_ef18ee:hover {
    background: var(--background-secondary);
}

/* [✔] 🠗 Stage gradient shadow 🠗 */
.gradientBottom_dd069c, .gradientTop_dd069c {
	display: none;
}

.topControls_dd069c {
	background-color: var(--background-tertiary-a);
}

/* [✔] 🠗 scrollbar 🠗 */
#app-mount ::-webkit-scrollbar-track {
    background: transparent;
	border-color: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
	border-color: transparent;
}


/* [✔] 🠗 Recolors Sideprofile. (no with premium banner) 🠗 */
.userProfileInner_c69a7b:not(:has(#status)):not(:has([style*="/banners/"])),
.userProfileInner_c69a7b:has(.botText_a9e77f) {
	background: var(--window-color-calc, var(--background-secondary-a)) !important;
}

.userProfileInner_c69a7b:has(.list_f9da1d):not(:has(#status)):not(:has([style*="/banners/"])) .overlayBackground_c69a7b,
.userProfileInner_c69a7b:has(.botText_a9e77f) .overlayBackground_c69a7b {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary))) !important;
    border-left: var(--background-tertiary-border-variable-divider-a) !important;
	border-right: none !important;
    box-shadow: var(--elevation-medium) !important;
}

.container_ecc60d:has(.footer_ecc60d) .userProfileInner_c69a7b:not(:has([style*="/banners/"])) .activity_cd74cc {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    border-left: var(--background-tertiary-border-variable-divider-a);
	border-right: none;
    box-shadow: var(--elevation-medium);
}

.userProfileInner_c69a7b:has(.list_f9da1d):not(:has(#status)):not(:has([style*="/banners/"])) .container_e5a42d {
    background: var(--window-color-calc, var(--background-secondary-a));
    box-shadow: var(--elevation-medium);
}

.container_ecc60d:not(:has(#status)):not(:has([style*="/banners/"])) .bannerSVGWrapper_b32cc2 {
    overflow: hidden;
}

.container_ecc60d:not(:has(#status)) .userProfileInner_c69a7b:not([style]) .avatarWrapper_f89da9 {
    background-color: var(--window-color-calc, var(--background-secondary-a));
}

.container_ecc60d:not(:has(#status)) {
    border-left: var(--background-tertiary-border-variable-divider-a);
}


/* [✔] 🠗 small fixes for side-profile when is impossible to load profile (no with premium banner) 🠗 */
.container_ecc60d:has(.footer_ecc60d) .body_e9e42f {
	background: none !important;
}
.container_ecc60d:has(.footer_ecc60d) .userProfileInner_c69a7b:not(:has([style*="/banners/"])) .activity_cd74cc  {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    border-left: var(--background-tertiary-border-variable-divider-a);
	border-right: none;
    box-shadow: var(--elevation-medium);
}

.container_ecc60d:has(.footer_ecc60d):not(:has([style*="/banners/"])) .bannerSVGWrapper_b32cc2 {
    overflow: hidden !important;
}

.container_ecc60d:has(.footer_ecc60d) .wrapper_c51b4e::before {
    background-color: var(--window-color-calc, var(--background-secondary-a)) !important;
	box-shadow: none !important;
}

.profileBadges_f89da9 {
	background: var(--window-color-calc, var(--background-secondary-a));
    box-shadow: var(--elevation-medium);
}

/* [✔] 🠗 adjust profile in profilecard settings 🠗 */
.accountProfileCard_b69b77:not(:has([style*="/banners/"])) .avatar_b69b77 {
    padding: 3.5px;
    box-shadow: var(--elevation-medium);
}

.accountProfileCard_b69b77:has([style*="/banners/"]) .avatar_b69b77 {
    padding: 3.5px;
    box-shadow: var(--elevation-medium);
}

.banner_c3e427:not([style*="background-image"]),
.banner_ab876d:not([style*="background-image"]) {
    height: 100vh;
}

/*
.accountProfileCard_b69b77:not(:has([style*="/banners/"])) .avatar_b69b77 {
    top: 16px;
    left: 16px;
    padding: 6px !important;
    background-color: var(--profile-body-background-color);
    box-shadow: var(--elevation-medium);
}
*/


/* [✔] 🠗 change account container 🠗 */
.accountProfilePopoutWrapper_b2ca13 .userPopoutInner_c69a7b:before,
.accountProfilePopoutWrapper_b2ca13 .wrapper_cb78f1.biteSize_cb78f1,
.accountProfilePopoutWrapper_b2ca13 .header_b07019,
.accountProfilePopoutWrapper_b2ca13 .username_ad5fac,
.accountProfilePopoutWrapper_b2ca13 .body_ad5fac div:has(.descriptionClamp_fc5c48),
.accountProfilePopoutWrapper_b2ca13 .activity_cd74cc,
.accountProfilePopoutWrapper_b2ca13 .tags_c32acf,
.accountProfilePopoutWrapper_b2ca13 .profileEffects_f867f9 {
    display: none;
}

.accountProfilePopoutWrapper_b2ca13 .menus_ad5fac {
    gap: 0px !important;
	padding: 0px 0px 0px 0px !important;
    position: relative;
    background-color: var(--background-floating-80a) !important;
    border-radius: 8px;
    border: var(--background-floating-border);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

.accountProfilePopoutWrapper_b2ca13 .menus_ad5fac::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    -webkit-backdrop-filter: blur(var(--background-floating-blur-calc));
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border-radius: 8px;
}

.accountProfilePopoutWrapper_b2ca13 .body_ad5fac {
    padding: 0px;
}

.accountProfilePopoutWrapper_b2ca13 {
    left: unset;
}

.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b {
    width: 240px !important;
	padding: 0px 0px 0px 0px !important;
	height: 204px !important;
}

.accountProfilePopoutWrapper_b2ca13 .userPopoutOverlayBackground_c69a7b {
	margin: 0px;
	padding: 0px 0px 0px 0px !important;
}

.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b,
.accountProfilePopoutWrapper_b2ca13 .userPopoutInner_c69a7b,
.accountProfilePopoutWrapper_b2ca13 .body_ad5fac {
    background: none !important;
	box-shadow: none !important;
	backdrop-filter: none !important;
}

.accountProfilePopoutWrapper_b2ca13 #status {
    background-color: none;
    border: none;
    box-shadow: none;
	border-radius: 8px 8px 0px 0px !important;
	border-bottom: none;
	padding-bottom: 0px !important;
}

.accountProfilePopoutWrapper_b2ca13 #account {
    background-color: none;
    border: none;
    box-shadow: none;
	border-radius: 0px 0px 8px 8px !important;
	border-top: none;
	padding-top: 0px !important;
}

.accountProfilePopoutWrapper_b2ca13 #account:last-of-type [role="group"]:first-of-type::before {
    content: "";
    display: block;
    margin: -4px 4px 8px 4px;
    border-bottom: 1px solid var(--profile-body-divider-color);
}


/* [✔] 🠗 Forum fixes 🠗 */
.theme-dark .textContentFooter_a57509,
.theme-light .textContentFooter_a57509 {
	background: none;
}

.container_b385c8 {
    margin: 0 0 0 4px;
    border-radius: 8px;
    background-color: transparent;
    border-top: none;
    box-shadow: var(--elevation-medium);
    border: var(--background-primary-border);
    width: fit-content;
    margin-left: auto;
}

.container_a6d69a {
	background: var(--background-secondary);
}

.chatHeaderBar_e2f46e {
	background-color: transparent !important;
	box-shadow: none;
}

.mainCard_a6d69a .formContainer_c1668f .titleContainer_c1668f,
.mainCard_a6d69a .formContainer_c1668f .channelTextAreaInner_c1668f {
	margin: 8px;
	border-radius: 8px;
}

.prefixElement_c1668f {
	margin-top: 20px;
	margin-right: 2px;
}

.form_c1668f .submitButton_c1668f,
.forumPostFormButton_c1668f {
	margin-top: 6px;
}

.mainCard_a6d69a .formContainer_c1668f .textArea_d0696b {
	margin: 8px;
}

.title_c1668f {
    min-height: 38px;
    padding: 6px;
}

.container_b385c8:has(.reactions_b385c8) {
	width: 320px;
}


/* [✔] 🠗 change the Speaking Circles color 🠗 */
.avatarSpeaking_d80634 {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-secondary)}

.avatarSpeaking-33RRJU {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-secondary)}

.avatarSpeaking_c51b4e {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-secondary)}

.avatar_fb2f1c.speaking_fb2f1c {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-secondary)}

.border_db83a2.speaking_db83a2 {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-floating)}

.border_ba4b17.speaking_ba4b17 {box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px #000}


.usernameSpeaking_d80634, .listDefault_d80634 .clickable_d80634.selected_d80634 .username_d80634 {
    filter: drop-shadow(0 0 0.2px currentcolor);
}



/* [✔] 🠗 SoundBoard 🠗 */
.picker_cd703d {
	background-color: var(--modal-background);
	border: var(--background-tertiary-border);
	border-radius: 8px;
	box-shadow: none;
}

.picker_cd703d > .header_d0dc1d {
	box-shadow: none;
	border-bottom: var(--background-secondary-border);
}

.wrapper_ba23fe.categoryList_ceda83 {
	background-color: var(--modal-background);
	border-right: var(--background-secondary-border);
	border-left: var(--background-tertiary-border);
	border-bottom: var(--background-tertiary-border);
}

.soundButton_f40049:not(.playing_f40049)  {
	box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
	border-radius: 8px;
}

.soundButtonInteractive_f40049.playing_f40049 {
	border-color: transparent;
	box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 3px var(--background-secondary);
}


/* [✔] 🠗 Emojis 🠗 */
.drawerSizingWrapper_af5dbb > .contentWrapper_af5dbb  {
	background-color: var(--modal-background);
	border: var(--background-tertiary-border);
	border-radius: 8px;
	box-shadow: none;
}

#emoji-picker-tab-panel .header_c6ee36,
#gif-picker-tab-panel .header_b56bbc,
#sticker-picker-tab-panel .header_d8cdac {
    box-shadow: none;
    border-bottom: var(--background-secondary-border);
    padding-top: 8px;
    padding-bottom: 8px;
}

.wrapper_ba23fe.categoryList_c6ee36,
.wrapper_ba23fe.categoryList_a7a485 {
	background-color: var(--modal-background);
	border-right: var(--background-secondary-border);
}

/* [✔] 🠗 Discord Activities 🠗 */
.root_f9a4c9.fullscreenOnMobile_f9a4c9:not(:has(.container_c4a3bb)) > .header_f9a4c9 {
    box-shadow: none !important;
    background-color: var(--modal-background);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
	border-bottom: var(--background-secondary-border);
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9 > .header_f9a4c9 {
    box-shadow: none !important;
    background-color: var(--modal-background);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
	border-bottom: none;
}

.container_c4a3bb {
    background-color: var(--modal-background);
    padding-top: 6px;
	border-bottom: var(--background-secondary-border);
}

.activityItem_d46b95:hover {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.activityItem_d46b95 {
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.scroller_f09e45 {
	background: var(--modal-background);
}


/* [✔] 🠗 New Username Tags 🠗 */
/* Add "@" before Username (Profiles) */
:where([class^=userPopoutInner_], [class^=fullSizeOuter_], [class^=userPanelInner_]) [class^=userTagUsername_]::before {
    content: "@";
}

/* Add "@" before Username (Friends list) */
[class^=peopleListItem_] [class^=infoSpacing_]::before {
    content: "@";
}

/* Add "@" before Username (Settings/My Account) */
[class^=accountProfileCard_] [class^=field_]:nth-last-child(3) [class^=usernameInnerRow_]::before,
[class^=panelSubtextContainer_] [class^=hoverRoll_] [class^=hovered_]::before {
    content: "@";
}

/* Add "@" before Username (Mod View) */
[class^=guildSidebar_] [class^=memberNameContainer_] [class="text-md/medium_dc00ef"]::before,
[class^=sidebarContianer_] [class^=memberNameContainer_] [class="text-md/medium_dc00ef"]::before,
[class^=table_] [class^=memberNameContainer_] [class="text-xs/normal_dc00ef"] span::before {
    content: "@";
}


/* [✔] 🠗 Remove discord server set-up steps 🠗 */
.cardWrapper_f9902b {
	display: none;
}


/* [✔] 🠗 Fix the background color of bot authorize container 🠗 */
.footer_c5a065,
.authorize_c5a065,
.oauth2Wrapper_c2b22e {
    background-color: var(--background-secondary);
}


/* [✔] 🠗 Event modals 🠗 */
.radioBar_eb92a8 svg.icon_eb92a8 {
    display: none;
}

.card_cc2c09,
.previewCard_f9a98f {
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
}

.card_cc2c09:hover:not(.card_cc2c09.previewCard_f9a98f) {
    background-color: var(--background-secondary);
    box-shadow: var(--elevation-medium);
    border: var(--background-primary-border);
}

.padding_cc2c09 {
    background-color: var(--background-secondary);
}


/* [✔] 🠗 remake AutoMod footer 🠗 */
.footerContainer_bc2461 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
	border-top: none !important;
    box-shadow: var(--box-shadow-outer-2);
}


/* [✔] 🠗 discord shop 🠗 */
.shop_e77fa3 {
    border-radius: var(--window-border-radius-calc);
    background-color: var(--background-secondary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
	backdrop-filter: blur(var(--window-blur-calc));
	height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.shop_e77fa3 .container_fc4f04 {
	border-radius: var(--window-border-radius-calc) var(--window-border-radius-calc) 0px 0px !important
}

.shop_e77fa3:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 52px;
    z-index: 1;
    pointer-events: none;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    background: var(--window-color-calc, var(--background-accent-a)) !important;
}

.shop_e77fa3 ::-webkit-scrollbar-track {
    margin-top: 58px;
}

.shop_e77fa3 .discordLogo_d8354c {
    color: var(--brand-experiment);
    height: 24px;
}

.shop_e77fa3 .discordLogo_d8354c path[d="M41.6289 6.12256H48.2808C49.8841 6.12256 51.2388 6.3791 52.3499 6.88968C53.4586 7.40027 54.2894 8.1126 54.8401 9.02418C55.3908 9.93576 55.6685 10.9793 55.6685 12.1549C55.6685 13.3056 55.381 14.3492 54.806 15.2832C54.2309 16.2197 53.3562 16.9594 52.1793 17.5049C51.0025 18.0503 49.5454 18.3243 47.8032 18.3243H41.6289V6.12256ZM47.735 15.2234C48.8144 15.2234 49.6453 14.947 50.2252 14.3965C50.8051 13.8436 51.0951 13.0914 51.0951 12.1375C51.0951 11.2533 50.8368 10.5485 50.3202 10.0204C49.8037 9.49242 49.0215 9.22592 47.9762 9.22592H45.8954V15.2234H47.735Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M65.6272 18.3094C64.7061 18.0654 63.8752 17.7117 63.137 17.2459V14.3518C63.6949 14.7926 64.443 15.1563 65.3811 15.4427C66.3191 15.7266 67.2256 15.8686 68.1027 15.8686C68.5121 15.8686 68.8215 15.8138 69.0311 15.7042C69.2406 15.5946 69.3454 15.4626 69.3454 15.3107C69.3454 15.1363 69.2894 14.9919 69.1748 14.8748C69.0603 14.7578 68.8386 14.6606 68.5096 14.5784L66.4629 14.1077C65.2909 13.8287 64.46 13.4427 63.9654 12.947C63.4708 12.4539 63.2247 11.8063 63.2247 11.0043C63.2247 10.3294 63.4391 9.74406 63.8728 9.24343C64.3041 8.74281 64.9181 8.35676 65.7149 8.08528C66.5116 7.8113 67.4424 7.67432 68.5121 7.67432C69.4672 7.67432 70.342 7.77892 71.1387 7.98814C71.9355 8.19736 72.5934 8.46386 73.1172 8.79013V11.5274C72.5812 11.2011 71.9672 10.9446 71.2654 10.7503C70.5661 10.5585 69.8473 10.4639 69.1066 10.4639C68.0369 10.4639 67.5033 10.6507 67.5033 11.0218C67.5033 11.1961 67.5862 11.3256 67.7519 11.4128C67.9176 11.5 68.2221 11.5896 68.6631 11.6843L70.3688 11.9981C71.4823 12.1949 72.3132 12.5411 72.859 13.0342C73.4047 13.5274 73.6777 14.2571 73.6777 15.2235C73.6777 16.282 73.2269 17.1214 72.3229 17.7441C71.4189 18.3667 70.1373 18.6781 68.4755 18.6781C67.4985 18.6756 66.5482 18.5535 65.6272 18.3094Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M77.703 17.9432C76.726 17.455 75.9877 16.7925 75.4955 15.9557C75.0033 15.1188 74.7548 14.1773 74.7548 13.1312C74.7548 12.0852 75.0106 11.1487 75.5223 10.3243C76.034 9.49986 76.7844 8.85229 77.7737 8.38155C78.763 7.91082 79.9447 7.6767 81.3214 7.6767C83.027 7.6767 84.4426 8.04282 85.5683 8.77508V11.9656C85.1712 11.6867 84.7082 11.46 84.1795 11.2857C83.6508 11.1113 83.0855 11.0241 82.4812 11.0241C81.4237 11.0241 80.5977 11.2209 80.0007 11.6169C79.4038 12.0129 79.1041 12.5285 79.1041 13.1686C79.1041 13.7962 79.394 14.3093 79.9739 14.7128C80.5538 15.1138 81.3945 15.3156 82.4982 15.3156C83.066 15.3156 83.6264 15.2309 84.1795 15.064C84.7302 14.8946 85.2053 14.6879 85.6025 14.4438V17.5297C84.3525 18.2969 82.9027 18.6804 81.2531 18.6804C79.8643 18.6755 78.6801 18.4314 77.703 17.9432Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M89.8227 17.9433C88.8383 17.4551 88.0878 16.7876 87.5713 15.9383C87.0547 15.089 86.794 14.1425 86.794 13.0965C86.794 12.0504 87.0523 11.1164 87.5713 10.297C88.0903 9.47754 88.8359 8.83495 89.8154 8.3692C90.7925 7.90345 91.9596 7.67181 93.3119 7.67181C94.6642 7.67181 95.8313 7.90345 96.8084 8.3692C97.7855 8.83495 98.5311 9.47256 99.0428 10.287C99.5544 11.1015 99.8103 12.0354 99.8103 13.094C99.8103 14.1401 99.5544 15.0865 99.0428 15.9358C98.5311 16.7851 97.783 17.4526 96.7987 17.9408C95.8143 18.429 94.652 18.6731 93.3095 18.6731C91.9669 18.6731 90.8046 18.4315 89.8227 17.9433ZM95.0053 14.8499C95.4195 14.4265 95.6291 13.8661 95.6291 13.1687C95.6291 12.4713 95.422 11.9159 95.0053 11.5049C94.5911 11.0915 94.0258 10.8848 93.3095 10.8848C92.5809 10.8848 92.0108 11.0915 91.5941 11.5049C91.1799 11.9184 90.9728 12.4713 90.9728 13.1687C90.9728 13.8661 91.1799 14.4265 91.5941 14.8499C92.0083 15.2733 92.5809 15.4875 93.3095 15.4875C94.0258 15.485 94.5911 15.2733 95.0053 14.8499Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M110.059 8.31931V12.0852C109.625 11.7938 109.065 11.6493 108.37 11.6493C107.461 11.6493 106.76 11.9308 106.272 12.4937C105.782 13.0565 105.539 13.9333 105.539 15.1188V18.3268H101.36V8.12753H105.454V11.3704C105.68 10.1848 106.048 9.31059 106.555 8.74521C107.059 8.18232 107.712 7.90088 108.507 7.90088C109.108 7.90088 109.625 8.04036 110.059 8.31931Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M123.942 5.77393V18.3268H119.763V16.0429C119.41 16.9022 118.874 17.5572 118.153 18.0056C117.432 18.4514 116.54 18.6755 115.482 18.6755C114.537 18.6755 113.713 18.4414 113.009 17.9707C112.305 17.5 111.762 16.8549 111.379 16.0354C110.999 15.216 110.806 14.2895 110.806 13.2534C110.794 12.1849 110.997 11.226 111.413 10.3767C111.827 9.52735 112.415 8.86483 113.17 8.38912C113.925 7.9134 114.788 7.6743 115.755 7.6743C117.746 7.6743 119.081 8.55848 119.763 10.3244V5.77393H123.942ZM119.14 14.7802C119.566 14.3567 119.778 13.8063 119.778 13.1338C119.778 12.4838 119.571 11.9533 119.157 11.5473C118.742 11.1413 118.175 10.9371 117.461 10.9371C116.757 10.9371 116.194 11.1438 115.772 11.5572C115.351 11.9707 115.141 12.5062 115.141 13.1687C115.141 13.8312 115.351 14.3717 115.772 14.7901C116.194 15.2085 116.749 15.4178 117.444 15.4178C118.148 15.4153 118.713 15.2036 119.14 14.7802Z"],

.shop_e77fa3 .discordLogo_d8354c path[d="M59.1896 9.21341C60.3401 9.21341 61.2728 8.35701 61.2728 7.30058C61.2728 6.24416 60.3401 5.38776 59.1896 5.38776C58.039 5.38776 57.1063 6.24416 57.1063 7.30058C57.1063 8.35701 58.039 9.21341 59.1896 9.21341Z"],
.shop_e77fa3 .discordLogo_d8354c path[d="M57.1044 10.531C58.3811 11.0939 59.9649 11.1188 61.2709 10.531V18.3816H57.1044V10.531Z"] {
	display: none;
}

.shop_e77fa3 .title_fc4f04 {
    margin-left: -78px;
}

.shop_e77fa3 .popularPicksContainer_e77fa3,
.shop_e77fa3 .popularPicksGradient_e77fa3 {
    display: none;
}

/* [✔] 🠗 Show All Activities Plugin 🠗 */
.wrapper .controls {
	margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    border-radius: 3px;
    flex: 1 0;
    margin-top: 10px;
}

.dot.selected {
	background-color: rgba(255, 255, 255, 0.3) !important;
}


/* [✔] 🠗 Activities image in voice channel 🠗 */
.statusContainer_ba4b17 > .hangStatusContainer_ba4b17 {
    width: 20px;
    height: 20px;
    background-color: hsl(var(--black-500-hsl)/.55);
    border-radius: 50%;
    padding: 6px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.statusContainer_ba4b17 > .hangStatusContainer_ba4b17 .hangStatusIcon_ba4b17 {
    width: 20px;
    height: 20px;
}

.content_d80634 .icons_d80634 .gameIcon_a9e62c {
    filter: saturate(1);
    filter: saturate(var(--saturation-factor,1));
    -webkit-user-drag: none;
    background-size: 100%;
    border-radius: 8px;
    color: var(--header-primary);
}


/* [✔] 🠗 Server Home 🠗 */
.headerArt_d32e26.headerArtPlaceholder_d32e26 {
    display: none;
}

.headerArtWrapper_d32e26 {
      padding-top: 12%;
}

.homeContent_e85cee,
.homeContainer_e85cee .welcomeMessageContainer_a1289e {
	border-radius: 8px;
	border: var(--background-tertiary-border);
	box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
    background: var(--window-color-calc, var(--background-secondary-a));
}


.sidebarCardWrapper_e85cee {
    margin-left: 12px;
    margin-right: 12px;
}

.sidebarCardWrapper_e85cee:first-child {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.sidebarCardWrapper_e85cee:last-child {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.homeContent_e85cee .container_e3f878 .action_e3f878,
.container_e3f878 [class*="heading-lg/bold_dc00ef"],
.container_b53f4f .row_b53f4f,
.container_b53f4f [class*="heading-lg/bold_dc00ef"] {
    margin-left: 12px;
}

.homeContainerCollapsed_e85cee .container_b53f4f .row_b53f4f {
    margin-right: 12px;
}

.container_b53f4f .row_b53f4f:last-child {
	margin-bottom: 12px;
}

.homeContent_e85cee .container_e3f878 .action_e3f878:hover,
.sidebarCardWrapper_e85cee .resourceChannel_e85cee:hover,
.container_b53f4f .row_b53f4f:hover {
    background-color: var(--background-primary);
    box-shadow: var(--elevation-high);
    transform: translatey(-2px);
}

.homeContainer_e85cee,
.auto_c49869.scrollerBase_c49869:has(.homeContainer_e85cee) {
    background-color: var(--window-color-calc, var(--background-secondary-a));
}

.action_e3f878:has(.rulesIconContainer_e3f878) .text-md-semibold__8664f {
    line-height: 0;
    font-size: 0;
}

.action_e3f878:has(.rulesIconContainer_e3f878) .text-md-semibold__8664f::after {
    content: "Read the rules";
    font-size: 16px;
}


/* [✔] 🠗 Channel & Roles 🠗 */
.content_a7d72e:has(.profile_c6b11b)
.chat_a7d72e:has(.profile_c6b11b)  {
    border: none !important;
}

.pageBody_c2efea,
.container_f1fd9c, .header_f1fd9c {
    background-color: var(--window-color-calc, var(--background-secondary-a)) !important;
}

.profile_c6b11b .profileCard_c6b11b,
.pageBody_c2efea .prompt_c6b11b {
	border-radius: 8px;
	border: var(--background-tertiary-border) !important;
	box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
}


/* [✔] 🠗 Make app tag say bot again. idk what really makes these things "apps" now but okay 🠗 */
.botTag_a9e77f:not(.botTagAI_a9e77f, .botTagOP_a9e77f, .botTagRemix_a9e77f, .decorator_c91bad) .botText_a9e77f {
    font-size: 0 !important;
    line-height: 0 !important;
}
.botTag_a9e77f:not(.botTagAI_a9e77f, .botTagOP_a9e77f, .botTagRemix_a9e77f, .decorator_c91bad) .botText_a9e77f:before {
    content: "Bot";
    font-size: 0.625rem;
    line-height: 1.3;
}


/* [✔] 🠗 Removed Avatar Decoration Hover Wrapper 🠗 */
.avatarDecorationHint_f89da9 {
    display: none;
}


/* [✔] 🠗 Discord Clips 🠗 */
.clipsFooter_f847a3 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.clipForm_b00e1b {
	background: transparent;
	border: var(--background-tertiary-border);
	border-radius: 8px;
}

.clipItem_fcf712 {
    background: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
	filter: none;
}

.clipItem_fcf712:hover {
    background: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.inner__999f6 {
  border-radius: 8px;
  background-color: var(--background-secondary);
  border: var(--background-primary-border);
}

.timelineContainer_bb2184 {
	background-color: var(--modal-background);
    border-radius: 8px;
}

.playPauseButtonWrapper_bb2184 {
  background-color: var(--background-modifier-accent);
  border: var(--background-modifier-accent-border);
  margin-right: 24px;
  border-radius: 8px;
}

.playPauseButtonWrapper_bb2184:hover {
   background-color: var(--button-selected-background);
}

.playPauseButtonWrapper_bb2184:has(path[d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) {
	background-color: #fff;
}

.playPauseButtonWrapper_bb2184:has(path[d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) .playPauseIcon_bb2184 {
	color: var(--status-positive);
}

.dragBox_bb2184 {
    position: absolute;
    top: 0;
    bottom: 0;
    border-top: 2px solid var(--brand-experiment);
    border-bottom: 2px solid var(--brand-experiment);
}

.timePillBackground_bb2184,
.dragHandleLeft_bb2184,
.dragHandleRight_bb2184,
.dragHandle_bb2184 {
	background-color: var(--brand-experiment);
}


/* [✔] 🠗 Change custom status color 🠗 */
.hoverRoll_e07331 .customStatus_b2ca13 {
    color: var(--header-secondary) !important;
}


/* [✔] 🠗 Discord Settings searchbar 🠗 */
.sidebar_c25c6d .searchBar_e7c031  {
  box-shadow: var(--background-primary-box-shadow-border);
  background-color: transparent;
}

.sidebar_c25c6d .searchBar_e7c031:focus-within {
  box-shadow: var(--box-shadow-selection-50a);
}

.sidebar_c25c6d .searchBar_e7c031 .icon_effbe2 {
  color: var(--interactive-normal);
}

.sidebar_c25c6d .searchBar_e7c031:not(:focus-within) .input_effbe2 {
  box-shadow: none;
  cursor: pointer !important;
}

.sidebar_c25c6d .searchBar_e7c031:not(:focus-within) .iconLayout_effbe2 {
  cursor: pointer !important;
}


/* [✔] 🠗 Discord & BetterDiscord Settings title header 🠗 */
.contentRegion_c25c6d:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 52px;
    z-index: 1;
    pointer-events: none;
    background-color: var(--background-accent-a);
    box-shadow: var(--elevation-low-a);
}

.bd-settings-title .bd-search-wrapper,
.bd-update-check,
.bd-button .bd-button-content:has(path[d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2zm-2-9c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"]) {
	display: none;
}


/* [✔] 🠗 Image Carousel 🠗 */
.carouselModal_d2b9a1:has(.arrow_ad2a08),
.zoomedCarouselModalRoot_f74404:has(.arrow_ad2a08) {
	border: none !important;
}

.carouselModal_d2b9a1:has(.arrow_ad2a08) .wrapper_fb6520,
.zoomedCarouselModalRoot_f74404:has(.arrow_ad2a08) .wrapper_fb6520 {
    border-radius: 8px;
    border: var(--background-tertiary-border);
}

.nav_b6f1f8:has(.arrow_ad2a08) {
    border-radius: 40%;
    background-color: var(--background-modifier-accent);
    border: var(--background-modifier-accent-border);
	opacity: 1;
}


/* [✔] 🠗 new connect account and user activity on big profile 🠗 */
.body_bc9cc2 .connectedAccountContainer_f3eb60 {
    margin-top: 12px;
    background-color: var(--bg-mod-faint);
    border: var(--border-faint);
    border-radius: 8px;
}

.body_bc9cc2 .userProfileActivity_fc39e7 {
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: var(--bg-mod-faint);
	border: var(--border-faint);
	margin: 16px 16px;
}