/* dropdown arrow */
.container_ee69e0[aria-label^='Server for Gyro Control ('] .button_a79c58.open_a79c58 {
    animation: headerArrow .2s ease-out
}

@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}
