@import url(https://gyrogyro.github.io/BetterDiscordStuff/css/GyrosControl/BannerData.css);

/* ------------------------------- */

#app-mount .container_ee69e0[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .header_fd6364 {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container_ee69e0[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .container_fd6364 {
    margin-bottom: 87px
}

.container_ee69e0[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙'] .container_fd6364::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--server-banner-2) no-repeat center/cover;
    box-shadow: var(--elevation-low);
}

/* ------------------------------- */

#app-mount .container_ee69e0[aria-label^='Server for Gyro Control ('] .header_fd6364 {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container_ee69e0[aria-label^='Server for Gyro Control ('] .container_fd6364 {
    margin-bottom: 87px
}

.container_ee69e0[aria-label^='Server for Gyro Control ('] .container_fd6364::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--server-banner-1) no-repeat center/cover;
    box-shadow: var(--elevation-low);
}