@import url(https://gyrogyro.github.io/BetterDiscordStuff/css/GyrosControl/BannerData.css);

:root {
	--server-background-image: var(--on); /* enabled: var(--on) | disabled: var(--off) */
	--on: 0;
    --off: 1;

    --server-background-image-position: center/cover;
    --server-background-image-opacity: 70%;
    --server-background-image-blur: 1px;
}

/* servers */
html:has(.container_ee69e0[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙']) .content_a7d72e:not(.container_f1fd9c, .container_d20375):after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
	width: 100%;
    z-index: -999;
	opacity: var(--server-background-image-opacity);
    pointer-events: none;
	border-radius: 0px 0px var(--window-border-radius-calc) var(--window-border-radius-calc);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) var(--server-background-image), transparent 0px), var(--server-banner-2) no-repeat var(--server-background-image-position);
	filter: blur(var(--server-background-image-blur));
}

html:has(.container_ee69e0[aria-label^='𝒸𝒽𝒾𝓁𝓁 𝓏𝑜𝓃𝑒 🌙']) .content_a7d72e:has(.container_a6d69a) .container_cbd271 {
	background: var(--window-color-calc, var(--background-secondary-a));
}

/* ================================================================================================================== */

html:has(.container_ee69e0[aria-label^='Server for Gyro Control (']) .content_a7d72e:not(.container_f1fd9c, .container_d20375):after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
	width: 100%;
    z-index: -999;
	opacity: var(--server-background-image-opacity);
    pointer-events: none;
	border-radius: 0px 0px var(--window-border-radius-calc) var(--window-border-radius-calc);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) var(--server-background-image), transparent 0px), var(--server-banner-1) no-repeat var(--server-background-image-position);
	filter: blur(var(--server-background-image-blur));
}

html:has(.container_ee69e0[aria-label^='Server for Gyro Control (']) .content_a7d72e:has(.container_a6d69a) .container_cbd271 {
	background: var(--window-color-calc, var(--background-secondary-a));
}