/* dropdown arrow */
.container__7e23c[aria-label^='Server for Gyro Control ('] .button__84b6b.open_a0ea08 {
    animation: headerArrow .2s ease-out
}

@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}
